.divpapa{
    height: auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.divimagen {
    display: flex;
    width: 30%;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 35px;
    margin-left: 10px;
}

.divimagen img {
    height: 300px;
}

.divdatos {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    padding: 10px 35px;

}

.descripcion{
    text-align: justify;
}